.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://images.unsplash.com/photo-1585342565162-3704ff9b221d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: #EE6C4D;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.banner p {
  color: #E0FBFC;
  opacity: .9;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(150,150,150,0.6);
}
